[package]
name = "rustintro-lab"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.100"
byteorder = "1.5.0"
uuid = { version = "1.18.1", features = ["v4"] }
